<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍋Lemon Pie</title>
</head>
<body>
    <marquee><h1>🍋 Lemon Pie 🍋</h1></marquee>

    <h2>📝 Ingredientes</h2>

    <h3>✔️Masa:</h3>
    <ul>
        <li>200 gramos Harina Leudante</li>
        <li>100 gramos Almidón de maíz</li>
        <li>3 cdas Azúcar impalpable</li>
        <li>150 gramos Manteca</li>
        <li>2 Yemas</li>
        <li>3 cdas Leche</li>
    </ul>
   
    <h3>✔️Crema:</h3>
    <ul>
        <li>1 Limón</li>
        <li>½ Cáscara de limón</li>
        <li>200 gramos Azúcar</li>
        <li>3 Huevos</li>
        <li>2 cdas Harina</li>
        <li>3 tacitas Leche</li>
        <li>50 gramos Manteca</li>
    </ul>    
   
    <h3>✔️Merengue:</h3>
    <ul>
        <li>3 Claras</li>
        <li>½ cucharadita Esencia de vainilla</li>
        <li>6 cdas Azúcar</li>
        <li>Azúcar impalpable para espolvorear</li>
    </ul>
    

    <h2>🕰️ Preparación ⏳</h2>
    
    <h3><em>Para la masa</em></h3>
    <ol>
        <li>Colocar la harina y el almidón de maíz tamizados en un bol. Hacer un hueco en el centro y colocar en él la manteca (bien blanda, pero no derretida), el azúcar impalpable y las yemas.</li>
        <li>Mezclar los ingredientes del centro formando una crema y luego añadir de a poco la harina y la leche hasta obtener una masa homogénea y suave. Tapar el bol con papel film y dejar reposar en la heladera durante 45 minutos para que tome consistencia.</li>
        <li>Una vez que la masa para lemon pie esté fría y consistente, enharinar la mesada y estirarla con el tamaño de la tartera o molde donde se va a cocinar. Luego, colocarla en un molde enmantecado y enharinado y cubrirla con papel aluminio. Cocinar en horno precalentado a temperatura media, durante unos 15 minutos.</li>
    </ol>

    <h3><em>Para el merengue</em></h3>
    <ol start="4">
        <li>Colocar las claras con la mitad del azúcar en un recipiente resistente al calor. Llevar a baño María y batir con batidora eléctrica hasta formar espuma. Añadir el resto del azúcar poco a poco. Para lograr un merengue firme y brilloso, usar huevos a temperatura ambiente y asegurarse de que el bol esté limpio. Batir a velocidad mínima y agregar una pizca de sal.</li>
        <li>Seguir batiendo hasta llegar al punto nieve y lograr una buena firmeza. Añadir Esencia de vainilla Alicante y continuar batiendo hasta que el merengue se enfríe y quede brilloso.</li>
    </ol>

    <h3><em>Para la crema</em></h3>
    <ol start="6">
        <li>Colocar la leche, los huevos, el azúcar y la harina en una olla. Integrar bien los ingredientes, y añadir el jugo y la ralladura de limón.</li>
        <li>Llevar la olla a fuego medio y cocinar la mezcla, revolviendo constantemente hasta que comience a espesarse. Retirar del fuego, agregar la manteca y batir hasta lograr que se disuelva.</li>
        <li>Una vez que la preparación esté a temperatura ambiente, volcar sobre la tarta precocida y fría. Luego, cubrir de forma homogénea toda la superficie con el merengue. Espolvorear con azúcar impalpable y llevar al horno medio, hasta que el merengue se gratine.</li>
        <li>Dejar enfriar para que el relleno de lemon pie conserve su consistencia y servir.</li>
    </ol>    
    
    <p>▶️<a href="https://alicante.com.ar/receta/208-receta-lemon-pie/" target="_blank" rel="noopener noreferrer">Ver receta de Lemon Pie</a></p>
    <p>▶️<a href="./estofado_de_carne.html">Ver receta de Estofado de Carne</a></p>
    <p>🏠<a href="../../index.html">Volver al inicio</a></p>
</body>
</html>